
.home{
 height: 100vh !important;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: #1abc9c;
 color: white;
}
.home h1 {
    color: white;
    font-weight: 900;
}
.line{
    width: 70px;
    height: 5px;
    background-color: white;
    margin-top: 10px;
}